<div class="flex flex-col flex-grow-0 max-w-sm rounded grow shadow-lg mt-4 border-1">
  <img class="w-full" [src]="'https://placeimg.com/480/240/nature'" alt="Recipe Name">
  <div class="px-6 py-4">
    <div class="flex flex-grow-0 font-bold text-xl mb-2 justify-between align-middle">
      <div class="my-auto">Recipe Name</div>
      <app-dropdown [items]="dropdownItems"></app-dropdown>
    </div>
    <p class="text-gray-700 text-base">
      Recipe Description
    </p>
    <p class="text-gray-700 text-base">
      Recipe Ingredients
    </p>
  </div>
</div>

