.btn {
  @apply w-1/2 md:w-fit mx-auto md:py-2 py-3 px-4 text-white rounded-lg focus:outline-none
  focus:ring-1 focus:ring-offset-1
}

.btn-green {
  @apply bg-green-500 hover:bg-green-700 focus:ring-green-400
}

.btn-red {
  @apply bg-red-500 hover:bg-red-700 focus:ring-red-400
}

.btn-cyan {
  @apply bg-cyan-500 hover:bg-cyan-700 focus:ring-cyan-400
}

label {
  @apply peer-focus:font-medium absolute text-sm text-gray-500 duration-300
  transform -translate-y-8 scale-90 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600
  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
  peer-focus:scale-90 peer-focus:-translate-y-8
}

input {
  @apply block py-2.5 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
  appearance-none focus:outline-none focus:ring-0 focus:border-blue-600
}
