<div class="text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 py-4">
  <form class="mx-auto my-auto" >
    <div class="w-full grid md:grid-cols-5 md:gap-3">
      <div class="text-center my-auto text-xl font-bold text-gray-700 col-start-1 col-end-2">Edit</div>
      <div class="relative z-0 my-2 w-full group md:col-span-2">
        <input type="text" name="name" id="name" class="peer" placeholder=" " #nameInput/>
        <label for="name">Name</label>
      </div>
      <div class="relative z-0 my-2 w-full group md:col-span-1">
        <input type="number" name="amount" id="amount" class="peer" placeholder=" " #amountInput/>
        <label for="amount">Amount</label>
      </div>
    </div>
    <div class="grid md:grid-cols-6 space-y-2 mt-2 md:space-y-0 max-w-lg md:ml-12">
      <button type="button" class="btn btn-green" (click)="onAddIngredient()">
        Save
      </button>
      <button type="button" class="btn btn-red">
        Delete
      </button>
      <button type="button" class="btn btn-cyan">
        Clear
      </button>
    </div>
  </form>
</div>
